@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/OpenSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/OpenSans-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/OpenSans-ExtraBold.ttf") format("truetype"); }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

input:not([type="radio"]), a, button, label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent; }
  input:not([type="radio"]):hover, input:not([type="radio"]):focus, a:hover, a:focus, button:hover, button:focus, label:hover, label:focus {
    outline: none; }

body {
  background-color: #121435;
  margin: 0;
  padding: 0; }

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  width: 100%; }

html {
  font-size: 16px; }

p {
  color: #d9d9d9;
  font-family: "Open Sans", sans-serif;
  font-size: calc(1rem + 1 * (100vw - 20rem) / 80);
  font-weight: 600; }

td {
  color: #d9d9d9;
  font-family: "Open Sans", sans-serif;
  font-size: calc(3rem + 2 * (100vw - 20rem) / 80);
  font-weight: 600; }

.name, .name[attribute=value], .name::placeholder {
  color: #d9d9d9;
  font-family: "Open Sans", sans-serif;
  font-size: calc(1rem + 1 * (100vw - 20rem) / 80);
  color: #ff5722;
  font-weight: 600; }

.menu-button {
  color: #d9d9d9;
  font-family: "Open Sans", sans-serif;
  font-size: calc(1.2rem + 1.5 * (100vw - 20rem) / 80);
  font-weight: 700; }

.results p {
  color: #d9d9d9;
  font-family: "Open Sans", sans-serif;
  font-size: calc(2rem + 3 * (100vw - 20rem) / 80);
  color: #ff5722;
  font-weight: 700; }

.title h1 {
  color: #d9d9d9;
  font-family: "Open Sans", sans-serif;
  font-size: calc(2.5rem + 8 * (100vw - 20rem) / 80);
  font-weight: 700;
  letter-spacing: 0.1em; }

.background p {
  color: #d9d9d9;
  font-family: "Open Sans", sans-serif;
  font-size: calc(10rem + 10 * (100vw - 20rem) / 80);
  font-weight: 800;
  line-height: 100%; }

.footer p {
  color: #d9d9d9;
  font-family: "Open Sans", sans-serif;
  font-size: calc(0.7rem + 0.5 * (100vw - 20rem) / 80);
  font-weight: 300; }

.background {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(150vw - 0.55 * (100vw - 20rem));
  z-index: -100; }
  .background p {
    margin: 0; }

.background-top {
  text-align: left; }

.background-middle {
  text-align: center; }

.background-bottom {
  text-align: right; }

.scoreboard {
  text-align: center; }

.gameboard {
  display: none;
  height: calc(60vw - 0.45 * (100vw - 20rem));
  margin: 0 auto;
  position: relative;
  width: calc(60vw - 0.45 * (100vw - 20rem)); }

.endscreen {
  display: none;
  text-align: center; }

.endbuttons {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: calc(50vw - 0.2 * (100vw - 20rem)); }
  .endbuttons > button {
    min-width: 5rem; }

.footer {
  bottom: 0;
  padding-bottom: 1rem;
  position: fixed;
  text-align: center;
  width: 100%; }

.wrapper2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%; }

.title {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: -100; }
  .title h1 {
    margin: 0 auto;
    margin-block-start: 0.4em; }

.title-small {
  top: 5%;
  transform: translate(-50%, -50%); }

.form-wrapper {
  margin: calc(30% - 0.2 * (100vw - 20rem)) auto 3rem;
  width: calc(100% - 0.05 * (100vw - 20rem)); }

.players {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: calc(4rem + 0.12 * (100vw - 20rem));
  justify-content: space-around; }

.name {
  display: inline-block;
  width: 50%; }

.player1 {
  position: relative;
  left: 18%; }

.vs {
  position: relative;
  z-index: 10; }

.opponents {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
  top: 0; }

.submit {
  margin-top: calc(15% - 0.1 * (100vw - 20rem));
  text-align: center; }

.menu-button {
  background-color: transparent;
  border: 0; }
  .menu-button:hover {
    cursor: pointer;
    color: #ff5722; }

.clicked {
  color: #ff5722; }

.gameboard table {
  border-collapse: collapse;
  border-spacing: 0;
  height: 33%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 33%; }
  .gameboard table td {
    color: rgba(217, 217, 217, 0);
    box-sizing: content-box;
    line-height: 30%;
    text-align: center; }
    .gameboard table td:hover {
      color: rgba(217, 217, 217, 0.5);
      cursor: pointer; }
    .gameboard table td.placed {
      color: #d9d9d9; }
      .gameboard table td.placed:hover {
        color: #d9d9d9;
        cursor: default; }
  .gameboard table tr:first-child, .gameboard table tr:last-child {
    height: 0; }
  .gameboard table td:first-child, .gameboard table td:last-child {
    width: 0; }
  .gameboard table tr:nth-child(2) {
    border-bottom: calc(7px + 0.005 * (100vw - 20rem)) solid #ff5722;
    border-top: calc(7px + 0.005 * (100vw - 20rem)) solid #ff5722; }
  .gameboard table td:nth-child(2) {
    border-left: calc(7px + 0.005 * (100vw - 20rem)) solid #ff5722;
    border-right: calc(7px + 0.005 * (100vw - 20rem)) solid #ff5722; }

.win-line {
  background-color: #d9d9d9;
  height: calc(5px + 0.002 * (100vw - 20rem));
  position: absolute;
  transform-origin: top left;
  width: 0; }
  .win-line[class*='r'] {
    left: -5%;
    width: 110%; }
  .win-line.r1 {
    top: calc(100% / 6 - ((5px + 0.002 * (100vw - 20rem)) / 2)); }
  .win-line.r2 {
    margin-top: calc((5px + 0.002 * (100vw - 20rem)) / -4);
    top: 50%; }
  .win-line.r3 {
    bottom: calc(100% / 6 - (5px + 0.002 * (100vw - 20rem))); }
  .win-line[class*='c'] {
    top: -5%;
    transform: rotate(90deg);
    width: 110%; }
  .win-line.c1 {
    left: calc(100% / 6); }
  .win-line.c2 {
    left: 50%;
    margin-left: calc((5px + 0.002 * (100vw - 20rem)) / 2); }
  .win-line.c3 {
    left: calc(100% / 6 * 5 + (5px + 0.002 * (100vw - 20rem))); }
  .win-line[class*='d'] {
    left: -1%;
    width: 144.25%; }
  .win-line.dltr {
    top: -1%;
    transform: rotate(45deg); }
  .win-line.drtl {
    bottom: -1%;
    transform: rotate(-45deg); }

.scoreboard-up {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.scoreboard-names {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 calc(0.5rem + 0.02 * (100vw - 20rem)); }
  .scoreboard-names > div {
    padding: 0 calc(0.25rem + 0.01 * (100vw - 20rem)); }

.scoreboard-name {
  flex-grow: 1;
  flex-basis: 5rem;
  min-width: calc(5.5em + 0.1 * (100vw - 20rem));
  overflow-x: hidden;
  white-space: nowrap; }
  .scoreboard-name p {
    border-bottom: 1px solid rgba(217, 217, 217, 0);
    display: inline-block; }

p.turn {
  border-bottom: 1px solid #d9d9d9; }

.line {
  align-self: center;
  background-color: #d9d9d9;
  flex-basis: 0;
  height: 3px; }

.scoreboard-name-1 {
  text-align: center; }

.scoreboard-name-2 {
  text-align: center; }

.scoreboard-down {
  align-items: center;
  display: flex;
  justify-content: center; }
  .scoreboard-down > p {
    margin-block-end: 0;
    margin-block-start: 0; }

.scoreboard-points {
  min-width: 2em; }

.colon {
  margin: 0 0.5rem; }

.radio-label {
  position: relative;
  left: 1.5em; }

input[name="opponent"] {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0; }
  input[name="opponent"]:checked + .radio:before {
    background-color: #ff5722;
    transform: scale(1.1); }
  input[name="opponent"]:checked + .radio:after {
    transform: scale(0.5); }
  input[name="opponent"]:hover + .radio:before {
    transform: scale(0.9); }
  input[name="opponent"]:hover + .radio:after {
    transform: scale(0.6); }
  input[name="opponent"]:checked:hover + .radio:before {
    transform: scale(1); }
  input[name="opponent"]:checked:hover + .radio:after {
    transform: scale(0.4); }

.radio {
  display: inline-block;
  height: calc(0.8em + 0.012 * (100vw - 20rem));
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(0.8em + 0.012 * (100vw - 20rem)); }
  .radio:after, .radio:before {
    border-radius: 50%;
    content: "";
    display: block;
    height: calc(0.8em + 0.012 * (100vw - 20rem));
    position: absolute;
    top: 0;
    width: calc(0.8em + 0.012 * (100vw - 20rem)); }
  .radio:before {
    background-color: #d9d9d9;
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2); }
  .radio:after {
    background-color: #121435;
    transform: scale(0.7);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4); }

.name {
  background-color: transparent;
  border: 0;
  padding-left: calc(calc(0.8em + 0.012 * (100vw - 20rem)) + 10px); }
  .name:focus::placeholder {
    opacity: 0.5;
    content: "Name"; }

@-webkit-keyframes typing {
  0% {
    width: 0; }
  25% {
    width: calc(30% - 0.0 * (100vw - 20rem)); }
  26% {
    width: calc(30% - 0.0 * (100vw - 20rem)); }
  55% {
    width: calc(67% - 0.0 * (100vw - 20rem)); }
  56% {
    width: calc(67% - 0.0 * (100vw - 20rem)); }
  85% {
    width: calc(100% - 0.0 * (100vw - 20rem)); }
  86% {
    width: calc(100% - 0.0 * (100vw - 20rem)); }
  100% {
    width: 100%; } }
@keyframes typing {
  0% {
    width: 0; }
  25% {
    width: calc(30% - 0.0 * (100vw - 20rem)); }
  26% {
    width: calc(30% - 0.0 * (100vw - 20rem)); }
  55% {
    width: calc(67% - 0.0 * (100vw - 20rem)); }
  56% {
    width: calc(67% - 0.0 * (100vw - 20rem)); }
  85% {
    width: calc(100% - 0.0 * (100vw - 20rem)); }
  86% {
    width: calc(100% - 0.0 * (100vw - 20rem)); }
  100% {
    width: 100%; } }
.title {
  -webkit-transition: top .6s ease;
  transition: top .6s ease; }
  .title h1 {
    opacity: 1;
    overflow-x: hidden;
    -webkit-transition: transform .7s ease, opacity .7s ease;
    transition: transform .7s ease, opacity .7 ease; }

.typing-animation {
  -webkit-animation: typing 1.8s ease-out;
  animation: typing 1.8s ease-out; }

.title-small h1 {
  transform: scale(1); }
  @media (min-width: 480px) {
    .title-small h1 {
      transform: scale(0.5); } }

.form-wrapper {
  opacity: 0;
  transform: translateY(10%);
  -webkit-transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s, opacity 0.6s linear;
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s, opacity 0.6s linear;
  visibility: hidden; }

input, .opponents, .name, .radio-label, .radio, .menu-button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.submit {
  -webkit-transition: all .4 ease;
  transition: all .4 ease; }

.background {
  opacity: 0;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease; }

.footer {
  opacity: 0;
  -webkit-transition: opacity .6s ease 2.2s;
  transition: opacity .6s ease 2.2s; }

.scoreboard-up {
  opacity: 0;
  transform: translateY(50%);
  -webkit-transition: transform 1s ease-out 0.6s, opacity 1s linear 0.6s;
  transition: transform 1s ease-out 0.6s, opacity 1s linear 0.6s; }

.scoreboard-name p {
  -webkit-transition: border-bottom 0.4s ease-out;
  transition: border-bottom 0.4s ease-out; }

.scoreboard-down {
  opacity: 0;
  transform: translateY(50%);
  -webkit-transition: transform .4s ease-out 1.4s, opacity .6s linear 1.4s;
  transition: transform .4s ease-out 1.4s, opacity .6s linear 1.4s; }

.line {
  flex-grow: 0.00001;
  -webkit-transition: flex-grow 1s ease-in-out 1.2s;
  transition: flex-grow 1s ease-in-out 1.2s; }

.gameboard {
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.gameboard table {
  -webkit-transition: all .4s linear;
  transition: all .4s linear; }

.gameboard td, .gameboard tr {
  -webkit-transition: all .4s linear;
  transition: all .4s linear; }

.win-line {
  -webkit-transition: width .2s linear;
  transition: width .2s linear; }

.results {
  transform: translateY(-50%); }

.endbuttons {
  transform: translateY(50%); }

.results, .endbuttons {
  opacity: 0;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out; }

/*# sourceMappingURL=style.css.map */
