$border-width: calc(7px + 0.005 * (100vw - 20rem));
$grid-border: $border-width solid $dark-text-c;

.gameboard table {
  border-collapse: collapse;
  border-spacing: 0;
  height: 33%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 33%;

  td {
    color: rgba(217,217,217,0);
    box-sizing: content-box;
    line-height: 30%;
    text-align: center;

    &:hover {
      color: rgba(217,217,217,0.5);
      cursor: pointer;
    }

    &.placed {
      color: rgba(217,217,217,1);
      &:hover {
        color: rgba(217,217,217,1);
        cursor: default;
      }
    }
  }

  tr:first-child, tr:last-child {
    height: 0;
  }

  td:first-child, td:last-child {
      width: 0;
  }

  tr:nth-child(2) {
    border-bottom: $grid-border;
    border-top: $grid-border;
  }

  td:nth-child(2) {
    border-left: $grid-border;
    border-right: $grid-border;
  }
}

.win-line {
  background-color: $light-text-c;
  height: calc(5px + 0.002 * (100vw - 20rem));
  position: absolute;
  transform-origin: top left;
  width: 0;

  &[class*='r'] {
    left: -5%;
    width: 110%;
  }

  &.r1 {
    top: calc(100% / 6 - ((5px + 0.002 * (100vw - 20rem)) / 2));
  }

  &.r2 {
    margin-top: calc((5px + 0.002 * (100vw - 20rem)) / -4);
    top: 50%;
  }

  &.r3 {
    bottom: calc(100% / 6 - (5px + 0.002 * (100vw - 20rem)));
  }

  &[class*='c'] {
    top: -5%;
    transform: rotate(90deg);
    width: 110%;
  }

  &.c1 {
    left: calc(100% / 6);
  }

  &.c2 {
    left: 50%;
    margin-left: calc((5px + 0.002 * (100vw - 20rem)) / 2);
  }

  &.c3 {
    left: calc(100% / 6 * 5 + (5px + 0.002 * (100vw - 20rem)));
  }

  &[class*='d'] {
    left: -1%;
    width: 144.25%; //Pythagorean theorem
  }

  &.dltr {
    top: -1%;
    transform: rotate(45deg);
  }

  &.drtl {
    bottom: -1%;
    transform: rotate(-45deg);
  }
}
